<div class="py-8 pt-16 max-h-fit">
<div class="flex flex-col items-center justify-center">
    <div class="box-border px-5 shadow-2xl shadow-black">
<div class="relative">
<div class="p-8 shadow-md rounded-lg">

<h1 class="pt-6 text-xl">FORGOTTEN PASSWORD?</h1>

<p class="text-lg pt-8">Enter your email address associated with the account below</p>

<form method="POST" class="text-lg pt-10">
    {% csrf_token %}

    {{form.as_p}}

    <div class="pt-10 px-8"><input type="submit" class="p-2 bg-blue-600 hover:bg-blue-300 text-white rounded-lg font-semibold w-96" value="Send" /></div>
</form>
</div>
</div>
</div>
</div>
</div>



